# Ignore artifacts:
build
coverage

node_modules
.testedProject
.tmp
cypress/downloads
cypress/e2e/1-getting-started
cypress/e2e/2-advanced-examples
cypress/reports
cypress/screenshots
cypress/videos
.projects
ignore